<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
                .menu {
                    text-decoration: none;
                    color:rgb(1, 1, 79);
                    padding: 4px;
                    font-weight: bolder;
                }
                
                .box {
                    font-family: 'Roboto', sans-serif;
                    }
                h5 {
                    color:rgb(182, 182, 234);
                    font-family:'Roboto Condensed', sans-serif;
                    font-weight: bolder;
                    font-style: italic;
                }
                h5::first-letter {
                    color: rgb(88, 207, 9);
                }
                .submit {
                    box-shadow; 
                    animation-duration: 2s;
                }
                a:hover {
    color: blue;}
    a:visited {
    color: gray;
}
a:link {
    color: green;
}
