.container {
    display: grid;
    grid-template-columns: 100px 30% 1fr;
    grid-template-rows: 200px 100px 1fr;
    gap: 3px;
  }
  
  .block {
    border: 2px solid red;
    background-color: pink;
  }
  .block-2 {
    border: 2px solid red;
    background-color: pink;
  }
  .block-3 {
    border: 2px solid red;
    background-color: pink;
  }
  .block-4 {
    border: 2px solid red;
    background-color: pink;
  }
  .block-5 {
    border: 2px solid red;
    background-color: pink;
  }
  .block-6 {
    border: 2px solid red;
    background-color: pink;
  }
  